.bild {
    position: relative;
    left: 800px;
    top: 100px;
    width: 300px;
    height: 200px;


}

.text {
    font-size: larger;
    font-style: italic;
    position: relative;
    left: 40%;
    top: 0%;

}

body {
    background-color: aqua;
}

.text2 {
    font-size: medium;
    font-style: oblique;
}

.links{
    color: blue;
    text-decoration: underline;
    font-size: 16px;
    font-style: inherit;
}